.gu-card {
  background: #fff;
  border: @default-border;
  border-radius: @border-radius;
}

.gu-card > .gu-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: @default-border;
}

.gu-card > .gu-card-header > .gu-card-extra {
  padding-right: @padding-base;
}

.gu-card > .gu-card-header > .gu-card-title {
  padding: @padding-base;
  font-size: 14px;
  font-weight: 600;
}

.gu-card > .gu-card-content {
  padding: @padding-base;
  color: @text-color;
}

.gu-card > .gu-card-body {
  padding: @padding-base;
}

.gu-card-borderless {
  background: #fff;
  box-shadow: @shadow;
  border-radius: @border-radius;
}

.gu-card-borderless > .gu-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.gu-card-borderless > .gu-card-header > {
  margin-bottom: 5px;
  padding-right: @padding-base;
}
.gu-card-borderless > .gu-card-header > .gu-card-title {
  padding: @padding-base;
  font-weight: 600;
  font-size: 14px;
}

.gu-card-borderless > .gu-card-content {
  padding: 0px @padding-base;
  padding-bottom: calc(@padding-base + @padding-base / 2);
  color: @text-color;
}
