// Great UI colors
@primary-color: #24d9a3;
@secondary-color: lighten(#24d9a3, 47%);
@danger-color: #f95146;
@warning-color: #f9d146;
@success-color: #4bd8b6;
@purple-color: #d334ed;
@pink-color: #fe6190;

// Main Typographi
@text-color: #414141;
@secondary-text-color: #31313193;
@diabled-text-color: #c7c7c7;
@font-size: 14px;

@border-radius: 5px;
@border-color: #f1f1f1;
@default-border: solid 1px @border-color;

@shadow: 1px 3px 6px rgba(0, 0, 0, 0.03);
