.avatar{
  width: 40px;
  height: 30px;
  background: #dddddd;
  border-radius: @border-radius;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  float: left;
  margin-right: 5px;
}

.avatar-sm{
  width: 30px;
  height: 25px;
  padding-top: 5px;
}

.avatar-lg{
  width: 70px;
  height: 70px;
}

.avatar-blue{
  background-color: @primary-color;
  color: #fff;
}

.avatar-green{
  background-color: @success-color;
  color: #fff;
}

.avatar-yellow{
  background-color: @warning-color;
  color: #fff;
}

.avatar-purple{
  background-color: @purple-color;
  color: #fff;
}


.avatar-circle{
  border-radius: 50px;
}

.avatar-box{
  border-radius: 0px;
}

